/* src/index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #F3F3E9;
}

.header{
  padding: 20px 60px;
  border-bottom: 1px solid #F3F3E9;
}

.start-form{
  min-width: 500px;
  max-width: 600px;

}